@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.top-card {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/podcasts-bg.png");
    background-size: cover;
    height: 30vh;
    margin: 1px;
    width: 70vh;
}

.heading {
    color: #ffffff;
    font-family: "roboto";
    font-size: 25px;
    padding: 15px;
    margin: 1px;
}

.image {
    height: 110px;
    width: 140px;
    margin: 10px;
}

.top-heading {
    font-size: 15px;
    color: #151765;
    margin: 5px;
    font-family: "Roboto";
    font-weight: bold;
    text-align: center;
}

.top-paragraph {
    font-size: 15px;
    color: #5a7184;
    padding: 5px;
    text-align: center;
    margin: 1px;
}

.background {
    background-color: #151765;
    padding: 10px;
    text-align: left;
    margin: 1px;
}

.bottom-heading {
    font-family: "Roboto";
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin: 1px;
}

.bottom-paragraph {
    font-family: "Roboto";
    color: #ffffff;
    font-size: 10px;
    padding-top: 10px;
    margin: 1px;
}

.bottom-paragraph1 {
    font-family: "Roboto";
    color: #ffffff;
    font-size: 10px;
    margin: 1px;
}

.bottom-heading1 {
    font-family: "Roboto";
    color: #151765;
    font-weight: bold;
    font-size: 15px;
    margin: 10px;
}

.bottom-paragraph2 {
    font-family: "Roboto";
    color: #5a7184;
    font-size: 15px;
    padding-left: 10px;
    margin: 1px;
}

.bottom-paragraph3 {
    font-family: "Roboto";
    color: #151765;
    font-size: 10px;
    padding-left: 10px;
    font-weight: bold;
    margin: 1px;
}

.button {
    color: #ffffff;
    background-color: #151765;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 10px;
    font-weight: bold;
    margin: 15px;
}